img {
  height: 350px;
}

.container {
  max-width: 235px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.wrap {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
}
